doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.min.css')
    link(rel='stylesheet', href="https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/menomonia.css")
    link(rel='stylesheet', href="https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/menomonia-italic.css")
    
  body
    block content

    p(class="text-center"): small(class="muted") Generated at #{new Date()}
    

    script(src="http://codeorigin.jquery.com/jquery-2.0.3.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js")
    script(src="/javascripts/humanize.min.js")
    script(src="/javascripts/script.js")

    
    block scripts