extends layout


block content

	#loading.container: .row: .col-md-12
		.alert.alert-warning
			h1.text-center(style="margin: 3em 0")
				i.fa.fa-2x.fa-spinner.fa-spin
				| <br><br> Waiting for data from Arena.net...


block bodyClose
	script.
		$(function(){subscribeToUpdates('loading')});