extends layout

block content
	.container
		#loading: .row: .col-md-12
			.alert.alert-warning
				div.text-center
					img.loading-spinner(src="/images/gw2-dragon-256.png")
				h1.text-center(style="margin: 3em 0") Loading, Please Wait...

block bodyClose
	script.
		$(function(){subscribeToUpdates('loading')});