extends layout


block content

    div(class="container")
        div(class="row")
            div(class="col-md-12")
                a(href="/")
                    img.block-center.img-responsive(src="/images/logo-512x192.png")

        br
    
        div(class="row")
            div(class="col-md-6")
                h2() US Matches
                +writeMatchesTable(matches.US)
            div(class="col-md-6")
                h2() EU Matches
                +writeMatchesTable(matches.EU)


        div(class="row")
            div(class="col-md-6")
                h3(class="page-header") US Worlds
                +writeWorlds(worlds.US)
            div(class="col-md-6")
                h3(class="page-header") EU Worlds
                +writeWorlds(worlds.EU)
   

block scripts     
        script.
            $(function(){subscribeToUpdates('overview')});


mixin writeWorlds(worlds)
    ul(class="nav nav-list")
        each world, worldIndex in worlds
            li
                a(href=world.link)= world.name



mixin writeMatchesTable(matches)
        table(class="table table-condensed table-hover overview")
            -var matchNum = 0;
            each match, matchIndex in matches
                -matchNum++;
                each world, worldIndex in [match.getRedWorld(lang), match.getBlueWorld(lang), match.getGreenWorld(lang)]
                    if(world)
                        -var team = ['red', 'blue', 'green'][worldIndex];
                        -var trClass = ['group group' + (matchNum%2), 'match' + match.id, 'team', team].join(' ');
                        -var aClass = ['team', team].join(' ');
                        tr(id='world' + world.id, class=trClass)
                            td(width="100%")
                                a(href=world.link, class=aClass)= world.name
                            td(class='score', data-score=scores[match.id][worldIndex])= humanize.numberFormat(scores[match.id][worldIndex], 0)
                            if(worldIndex === 0)
                                td(class='pie', rowspan=3, align="center", valign="center")
                                    canvas(width="72", height="72")