extends layout

block content

    div(class="container")
        div(class="row")
            div(class="col-md-12")
                h1(class='page-header')= title
                p Welcome to #{title}


        div(class="row")
            div(class="col-md-12")
                h1 Tracker!
   

block scripts     
        script.
            $(function(){subscribeToUpdates('match#{match.wvw_match_id}');});