body{
	font-family: menomonia;
	font-size: 14px;
	margin-bottom: 80px;
}


.strong{font-weight: bold;}
.text-center{text-align: center !important}
.text-left{text-align: left !important}
.text-right{text-align: right !important}
.small {font-size: 85%; line-height: 140%;}
.capitalize {text-transform: capitalize;}

.block-center{display: block; margin-left: auto; margin-right: auto;}
.block-left{display: block; margin-left: 0; margin-right: auto;}
.block-right{display: block; margin-left: auto; margin-right: 0;}
.nowrap{display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}


.well, .alert{
	margin: 0 0;
	padding: 0 0;
	min-height: 0;
}
.well>p, .well>ul{
	margin-bottom: 0;
}

.team.red{color: #a94442 !important}
.team.blue{color: #31708f !important}
.team.green{color: #3c763d !important}
.team.neutral{color: #999 !important; font-style: italic;}


#site-navbar{}
#site-navbar .navbar-brand{
	padding: 0 15px;
	line-height: 50px;
}
.divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #FFF;
}

#indicator .fa,
#audioToggle .fa{
	line-height: 50px;
}
#audioToggle .fa-ban{
	color: #b94a48;
}



//.overview .group0 td{background-color: #eee}
.overview{
	padding: 0 .5em;
}
.overview .match + .match{
	padding-top: .5em;
}
.overview .world{
	height: 30px;
	line-height: 30px;
}
.overview .world:nth-child(2){
	background-color: #f9f9f9;
}
.overview .world:hover{
	background-color: #ffd;
}
.overview .score{text-align: right;}
.overview .pie{width: 90px; height: 90px; margin: 0 auto;}
.overview {}





.team-score{
	padding: 8px 0;
}
.team-score > *{
	padding: 0;
	margin: 0;
	line-height: 120%;
}
.objectives .row{
	margin: 0;
}
.map{
	padding: 0 2px;
}
.map:first-child{
	padding-left: 0;
}
.map:last-child{
	padding-right: 0;
}

.map-name{
	margin: 12px 0 4px 0;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
}

div.objectives-group{
	padding: 2px 2px;
}
div.objectives-group + div.objectives-group{
	margin-top: 4px;
}


li.objective {
	font-size: 10pt;
	line-height: 15px;
	height: 15px;
	padding-left: 2px;
	margin: 3px 0;
}
li.objective span{
	height: 15px;
	display: inline-block;
	float: left;
}
li.objective span.sprite{
	margin-right: 4px;
}
li.objective span.objective-name{
}
li.objective .timer{
	float: right;
	display: inline-block;
	width: 40px;
	font-size: 7.5pt;
	height: 15px;
	line-height: 15px;
	font-family: monospace;

	text-align: right;
	padding: 0 2px;

	background-color: #ffe;
	border: 1px solid #faebcc;
	border-radius: 4px;
}




/* default, neutral sprites */
.sprite,
.sprite.camp,
.sprite.camp.neutral{
	background-image: url(/images/sprite3-60x150.png);
	background-repeat: no-repeat;
	display: inline-block;
	width: 15px;
	height: 15px;
	line-height: 15px;
	
	background-position: -45px -45px; //default
}
.sprite.castle,
.sprite.castle.neutral			{ background-position: -45px 0; }
.sprite.keep,
.sprite.keep.neutral			{ background-position: -45px -15px; }
.sprite.tower,
.sprite.tower.neutral			{ background-position: -45px -30px; }
.sprite.temple,
.sprite.temple.neutral			{ background-position: -45px -60px; }
.sprite.hollow,
.sprite.hollow.neutral			{ background-position: -45px -75px; }
.sprite.estate,
.sprite.estate.neutral			{ background-position: -45px -90px; }
.sprite.overlook,
.sprite.overlook.neutral		{ background-position: -45px -105px; }
.sprite.overlook,
.sprite.ascent.neutral			{ background-position: -45px -120px; }

.sprite.bloodlust				{ background-position: 0 -135px; }

/* red sprites */
.sprite.castle.red				{ background-position: 0 0; }
.sprite.keep.red				{ background-position: 0 -15px; }
.sprite.tower.red				{ background-position: 0 -30px; }
.sprite.camp.red				{ background-position: 0 -45px; }
.sprite.temple.red				{ background-position: 0 -60px; }
.sprite.hollow.red				{ background-position: 0 -75px; }
.sprite.estate.red				{ background-position: 0 -90px; }
.sprite.overlook.red			{ background-position: 0 -90px; }
.sprite.ascent.red				{ background-position: 0 -90px; }

/* blue sprites */
.sprite.castle.blue				{ background-position: -15px 0; }
.sprite.keep.blue				{ background-position: -15px -15px; }
.sprite.tower.blue				{ background-position: -15px -30px; }
.sprite.camp.blue				{ background-position: -15px -45px; }
.sprite.temple.blue				{ background-position: -15px -60px; }
.sprite.hollow.blue				{ background-position: -15px -75px; }
.sprite.estate.blue				{ background-position: -15px -90px; }
.sprite.overlook.blue			{ background-position: -15px -105px; }
.sprite.ascent.blue				{ background-position: -15px -120px; }

/* green sprites */
.sprite.castle.green			{ background-position: -30px 0; }
.sprite.camp.green				{ background-position: -30px -45px; }
.sprite.tower.green				{ background-position: -30px -30px; }
.sprite.keep.green				{ background-position: -30px -15px; }
.sprite.temple.green				{ background-position: -30px -60px; }
.sprite.hollow.green				{ background-position: -30px -75px; }
.sprite.estate.green				{ background-position: -30px -90px; }
.sprite.overlook.green			{ background-position: -30px -105px; }
.sprite.ascent.green				{ background-position: -30px -120px; }




.loading-spinner {
	width: 168px;
	height: 168px;
	margin: 100px 0 0 0;
	-webkit-animation: rotateplane 3s infinite ease-in-out;
	animation: rotateplane 3s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
	0% { -webkit-transform: perspective(120px) }
	25% { -webkit-transform: perspective(120px) rotateY(180deg) rotateX(0deg) }
	50% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
	75% { -webkit-transform: perspective(120px) rotateY(0deg) rotateX(180deg) }
	100% { -webkit-transform: perspective(120px) }
}

@keyframes rotateplane {
	0% { -webkit-transform: perspective(120px) }
	25% { -webkit-transform: perspective(120px) rotateY(180deg) rotateX(0deg) }
	50% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
	75% { -webkit-transform: perspective(120px) rotateY(0deg) rotateX(180deg) }
	100% { -webkit-transform: perspective(120px) }
}