body{
	font-family: menomonia;
	font-size: 16px;
	margin-bottom: 80px;
}

.team.red, .team.red a{color: #900;}
.team.blue, .team.blue a{color: #009;}
.team.green, .team.green a{color: #090;}

table.overview td{font-size: 11pt}
table.overview .group0{background-color: #eee}
table.overview .score{text-align: right}

table.overview .updated{font-weight:  bold;}